# ==========================================
# 1. Kredensial & Environment Variables (WAJIB)
# ==========================================
.env
.env.local
.env.*

# ==========================================
# 2. Python Cache
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# 3. Virtual Environment
# ==========================================
.venv/
venv/
env/
ENV/

# ==========================================
# 4. Database Lokal
# ==========================================
db.sqlite3
db.sqlite3-journal

# ==========================================
# 5. File Statis & Media Upload
# ==========================================
staticfiles/
media/
public/media/

# ==========================================
# 6. Konfigurasi IDE / OS
# ==========================================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ==========================================
# 7. File Testing / Profiling
# ==========================================
.pytest_cache/
coverage.xml
htmlcov/
.coverage